data/*
*.rar
# python
*.pyc

# wandb logs/folders/artifacts
wandb
*/wandb
src/wandb
notebooks/wandb
notebooks/artifacts
artifacts
**/artifacts
**/wandb

*/artifacts
src/artifacts
notebooks/artifacts
notebooks/logs
notebooks/logdir
notebooks.ipynb_checkpoints
